<h1>Golf Games</h1>
<div>
    <h2>Quota Game</h2>
    <p>
    Quota is a fun game that allows players of all ability to play against each other.
     A quota is calculated based on a players handicap (see below to calculate a quota for each member of your group). 
     Players user stableford scoring to try and score higher than their quota. 
     The player to score the most points over their quota is the winner. 
     </p> 
<h2>Scoring Game</h2>
<p>
    <ul>
       <li>Eagle – 8</li>
       <li>Birdie – 4</li>
       <li>Par – 2</li>
       <li>Bogey – 1</li>
       <li>All others – 0</li>
    </ul>
</p>
</div>

<div>
    <form action=""></form>
</div>