<h1>Golf Games</h1>
<div>
    <h2>Quota Game</h2>
    <p>
    Quota is a fun game that allows players of all ability to play against each other.
     A quota is calculated based on a players handicap (see below to calculate a quota for each member of your group). 
     Players user stableford scoring to try and score higher than their quota. 
     The player to score the most points over their quota is the winner. 
     </p> 
    {{!-- scoring game section --}}
<h2>Scoring Game</h2>
<p>
    <ul>
       <li>Eagle – 8</li>
       <li>Birdie – 4</li>
       <li>Par – 2</li>
       <li>Bogey – 1</li>
       <li>All others – 0</li>
    </ul>
</p>
</div>

<div>
    {{!-- handicap is supposed to be entered in here , the second column could be for quota--}}
    <form action="">
    <label for="fname">Player 1:</label>
        <input type="text" id="fname" name="fname" placeholder="Enter Handicap"> 
        <input type="text" id="fname" name="fname" placeholder="Enter Quota">
        <br>
        <br>
    <label for="lname">Player 2:</label>
        <input type="text" id="lname" name="lname" placeholder="Enter Handicap">
        <input type="text" id="fname" name="fname" placeholder="Enter Quota">
        <br>
        <br>
        <label for="fname">Player 3:</label>
        <input type="text" id="fname" name="fname" placeholder="Enter Handicap">
        <input type="text" id="fname" name="fname" placeholder="Enter Quota">
        <br>
        <br>
    <label for="lname">Player 4:</label>
        <input type="text" id="lname" name="lname" placeholder="Enter Handicap">
        <input type="text" id="fname" name="fname" placeholder="Enter Quota">
    </form>
</div>
<br>
<br>
<br>