<div class="row"
  style="width: 1000px;height: 550px; display: flex; justify-content: center; background-image: url(https://wigwamgolf.com/wp-content/uploads/2016/10/gold_course1.jpg); background-repeat: no-repeat;">
  <div class="">
    <div style="width: 100%; display: flex; justify-content: center;">
      <h2>Login</h2>
    </div>

    <form class="form login-form">
      <div class="form-group" style="width: 100%; display: flex; justify-content: center;">
        <input style="width: 300px;" class="form-input" placeholder="Email" type="text" id="email-login" />
      </div>
      <div class="form-group mt-1" style="width: 100%; display: flex; justify-content: center;">
        <input style="width: 300px;" class="form-input" placeholder="Password" type="password" id="password-login" />
      </div>
      <div class="form-group mt-1" style="width: 100%; display: flex; justify-content: center;">
        <button class="btn btn-primary" type="submit">login</button>
        <div style="width: 5px;"></div>
        <a class="btn btn-primary" href="/sign-up">Sign Up</a>
      </div>
    </form>
  </div>

  <script src="/js/login.js"></script>