<section class="newGameSection">

    <div id="new-game">
        <div class="card-header">
            Select a golf course
        </div>
        <div class="card-body d-flex flex-column">

            <select id="select-course" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                {{#each courses as |course|}}

                <option value="{{course.id}}">{{course.course_name}}</option>

                {{/each}}
            </select>

        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-primary start-round">Start Round</button>
        </div>
    </div>

    <div class="hide" class="card text-center" id="round-golf">
        <div class="card-header">
            Hole:<span id="hole-number"></span>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row align-items-center">
                {{!-- <h5>Score</h5> --}}
                <input id="score" placeholder="Score" class="m-2">
            </div>

            <div class="d-flex flex-row align-items-center">
                {{!-- <h5>Putts</h5> --}}
                <input id="putts" placeholder="Putts" class="m-2">
            </div>

            <div class="form-check">
                <div class="bootstrap-switch-square">
                    <label class="form-check-label" for="fairwayCheck">
                        Fairway Hits
                    </label>
                    <input id="fairway" type="checkbox" data-toggle="switch" name="Resend" id="Resend" value="true" />
                </div>
            </div>

            <div class="form-check">
                <label class="form-check-label" for="greenCheck">
                    Green in Regulation
                </label>
                <input id="greenCheck" type="checkbox" data-toggle="switch" name="Resend" id="Resend" value="true" />
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="next-hole btn btn-primary">Next Hole</button>
        </div>
    </div>
</section>

<script src="./js/new-game.js"></script>