{{!-- {{#each posts as |post| }}
<a href="/edit-posts/{{post.id}}" class="card mb-2" style="text-decoration: none; color: black;">
    <div class="card-header">
        <span class="d-flex justify-content-between">
            <span>{{post.title}}</span>
            <span>{{format_time post.createdAt}}--{{format_date post.createdAt}}</span>
        </span>
    </div>
</a>
{{/each}} --}}

<a href="/edit-posts" class="card mb-2" style="text-decoration: none; color: black;">
    <div class="card-header">
        <span class="d-flex justify-content-between">
            <span>Country Club #1</span>
            <span>Time/Date</span>
        </span>
    </div>
</a>