<div style="width: 100%; display: flex; justify-content: center;">
    <div class="card text-center" id="score-card">
        <div class="card-header">
            Score:
        </div>
        <div class="card-body d-flex flex-column">
            100
        </div>
        <div class="card-footer text-muted">
            <button class="home">Home</button>
        </div>
    </div>
</div>