<section class="statsSection">
<br/>
<br/>
    <h1 class="statsHead"> {{ name }}'s Stats </h1>
<br/>

    <h4 class="statsBarName">Recent Scores</h4>
    <div>
      {{ statsAll }}
    </div>
  <div id="chart_div"></div>
<br/>
    <h4 class="statsBarName">Average Putts</h4>
     <div id="chartAp_div"></div>
</section>
