  section {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  section video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  section .container {
    position: relative;
    z-index: 2;
  }
  
  section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    section {
      background: url('/mov/loginpg.mov') black no-repeat center center scroll;
    }
<<<<<<< HEAD
    section video {
=======
     section video {
>>>>>>> e4548e3 (stats)
      display: none;
    } 
  }

<<<<<<< HEAD
=======
  @media screen and (max-width: 1050px){
    #flex-column {
      display: flex;
      flex-direction: column;
    }
  }

>>>>>>> e4548e3 (stats)
