

  section {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  section video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  section .container {
    position: relative;
    z-index: 2;
  }
  
  section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    section {
      background: url('/mov/loginpg.mov') black no-repeat center center scroll;
    }
    /* section video {
      display: none;
    } */
  }

.videoSection {
  margin-top: -3rem;
}

div .flex-column {
  margin-top: 2rem;
}

#chart_div,
#chartAp_div {
  display: flex;
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
  
}
.statsHead {
  margin-top: 2rem;
  text-decoration: underline;
}
.statsSection {
  text-align: center;
  background-image: url('/images/stats.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3.1rem;
}